body {
    background-color: #74EBD5;
    /* background-color: #ffd6ff; */
    font-family: "Nunito", sans-serif;
}



.blurb h2 {
    color: #9FACE6;
    /* color: #B8C0FF; */
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb h2 i {
    color: white;
}

.blurb p {

    color: #fafafa;
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}


#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;

}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #C8B6FF;
}

#mainNavbar .navbar-brand {
    font-size: 2rem;
    font-weight: 200;
    color: #C8B6FF;
    text-shadow: 1px 1px 2px #585d7e;
}

#headingGroup span {
    color: #E7C6FF;
}

#headingGroup h1 {
    color: #585d7e;
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background-color: #BBD0FF;
    transition: background 500ms;
}

/* img gallery */

#wrapper div img {
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
}

/* #wrapper div {
    border: 1px solid white;
} */

/* fullimage */
.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.full-img img {
    width: auto;
    max-width: 65%;
}

.full-img span {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 2px;
    padding: 1px 10px;
}

.full-img span:hover{
    background-color: rgba(118, 248, 118, 0.722);
    transition: .5s;
}
@media (max-width: 600px) {
    .full-img img{
        max-width:90%;
    }
}




    



